.navbar-brand{
    background-color:yellow;
    padding:10px;
    border-radius: 15px;
}
.jumbotron-img{
    height:350px;
    width:700px;
}
.card1{
    padding:10px;
}

.card2{
    padding:10px;
}
.card3{
    padding:10px;
}
.card-img-top1{
    height: 100px;
}
.card-img-top2{
    height: 100px;
}
.card-img-top3{
    height: 100px;
}
.card-text{
    width:350px;
}
.card-footer{
    padding:10px;
}
